.main-container{
    width: 100vw;
    height: calc(100vh - 64px);
    position: relative;
    padding: 2em;
}

@media (max-width: 577px) {
    .main-container {
        height: calc(100vh - 56px);
    }
}