 .home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
} 

.wrap-candidato{
    text-align: center;
}

.wrap-candidato .images{
    width: 100%;
}